p {
  margin: 2rem;
  font-size: 24px;
  font-weight: bold;
  color: #023c54;
}

.App {
  text-align: center;
  display: flex;
}

.col {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.quarter-container {
  border-bottom: solid 2px #023c54;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 34vw;
  flex-direction: column;
}

.select-container {
  width: 90%;
  margin-left: 2rem;
  height: 80px;
  max-width: 90%;
  flex: 1;
}
