p {
  margin: 2rem;
  font-size: 24px;
  font-weight: bold;
}

.App {
  text-align: center;
  display: flex;
}

.col {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.quarter-container {
  border: solid 1px royalblue;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 40vw;
  flex-direction: column;
  flex: 1 1;
}

.select-container {
  width: 90%;
  margin-left: 2rem;
  height: 80px;
  max-width: 90%;
  flex: 1;
}
